:root {
  --default-font-style: "Roboto", sans-serif;
  --primary-color-cyan: #0099ff;
  --secondary-color-black: #000;
  --secondary-color-grey: #4d4d4d;
  --secondary-color-white: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--default-font-style);
  color: var(--secondary-color-grey); }

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none; }

input:focus {
  outline: none; }

.nav {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 7rem;
  width: 95%;
  display: grid;
  grid-template-columns: 10rem 25rem minmax(2rem, 75rem) repeat(8, auto);
  grid-template-rows: 1fr;
  align-items: center;
  color: var(--secondary-color-white);
  background-color: var(--secondary-color-black); }
  .nav__branding {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5rem; }
    .nav__branding-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 2;
      background-color: var(--primary-color-cyan);
      height: 100%;
      width: 100%;
      cursor: pointer; }
    .nav__branding-name {
      grid-column: 2 / 3;
      font-size: 3rem;
      padding-left: 2rem;
      cursor: pointer; }
  .nav__menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer; }
    .nav__menu__button--1 {
      grid-column: 4 / 5; }
    .nav__menu__button--2 {
      grid-column: 5 / 6; }
    .nav__menu__button--3 {
      grid-column: 6 / 7; }
    .nav__menu__button--4 {
      grid-column: 7 / 8; }
    .nav__menu__button--5 {
      grid-column: 8 / 9; }
    .nav__menu__button--6 {
      grid-column: 9 / 10; }
    .nav__menu__button--7 {
      grid-column: 10 / 11; }
    .nav__menu__button--8 {
      grid-column: 11 / 12; }

.search {
  margin: 1.5rem 0; }
  .search__options {
    padding: 1.5rem 0;
    transition: all 0.5s; }
  .search__option-tab {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    cursor: pointer; }
    .search__option-tab--active {
      border-bottom: 3px solid var(--primary-color-cyan); }
  .search__widget {
    padding: 1.5rem 0; }
    .search__widget__property {
      display: flex;
      align-items: baseline; }
      .search__widget__property > .btn-cyan {
        margin-left: 1rem; }
    .search__widget__agent {
      display: flex;
      align-items: baseline; }
      .search__widget__agent > .btn-cyan {
        margin-left: 1rem; }
    .search__widget__input {
      height: 6rem;
      width: 30rem;
      padding-left: 1rem;
      font-size: 3rem; }

button {
  cursor: pointer;
  transition: all 0.1s; }

.btn-cyan {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem;
  background-color: var(--primary-color-cyan);
  color: var(--secondary-color-white); }
  .btn-cyan:hover {
    background-color: #008ae6; }

.page-container {
  height: 100%;
  padding: 4rem; }

.main-content {
  position: relative;
  height: 150rem; }

.homepage-header {
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary-color-black);
  color: var(--secondary-color-white); }
  .homepage-header__content {
    position: absolute;
    top: 27.5vh;
    left: 15%;
    z-index: 10;
    max-width: 65rem; }
    .homepage-header__content__h1 {
      font-size: 4.5rem;
      margin-bottom: 2rem; }
    .homepage-header__content__tagline {
      font-size: 2rem;
      font-weight: 700; }
    .homepage-header__content__social-proof-logos {
      width: 120%; }
  .homepage-header__slider {
    display: flex;
    justify-items: flex-start;
    height: 100%; }
  .homepage-header__slide {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: all 1s ease-in-out; }
