// Variables

:root {
  // Styles
  --default-font-style: "Roboto", sans-serif;

  // Colours
  --primary-color-cyan: #0099ff;
  --secondary-color-black: #000;
  --secondary-color-grey: #4d4d4d;
  --secondary-color-white: #fff;
  --secondary-color-offwhite: #f1f1f2;
}

// Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--default-font-style);
  color: var(--secondary-color-grey);
  margin: 4rem;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

button > * {
  pointer-events: none;
}

input {
  &:focus {
    outline: none;
  }
}

blockquote {
  line-height: 1.5;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// Typography

h1 {
}

h2 {
  font-size: 3.5rem;
  color: var(--secondary-color-grey);
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  color: var(--secondary-color-grey);
  margin: 1.5rem 0;
  line-height: 1.5;
}

ul li::before {
  content: "\25A0"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary-color-cyan); /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size: 2rem;
}

.header-tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: var(--secondary-color-grey);
}

.span-text {
  font-size: 1.5rem;
}

.blue-text {
  color: var(--primary-color-cyan);
}

.property-status-text {
  color: var(--primary-color-cyan);
  font-size: 2rem;
  font-weight: 700;
}
