.page-container {
}

.main-content {
  position: relative;
}

.small-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5rem 0;
  min-height: 60vh;
}

.large-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5rem 0;

  height: 80vh;
}

.highlights-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
  }

  &__text-content {
    @include flexCentering;
    flex-direction: column;

    height: 40%;

    margin-bottom: 5rem;
  }

  &__highlights {
    height: 60%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.people-section {
  position: relative;
  background-color: var(--secondary-color-offwhite);
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  &__content {
    position: static;
    z-index: 10;

    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 20rem;
  }

  &__search {
    position: static;
    z-index: 10;

    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    display: inline-block;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    height: auto;
    max-width: 100%;
    object-fit: scale-down;
    vertical-align: bottom;
  }
}

.about-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 80%;
  }

  &__para {
    display: inline-block;
    text-align: center;
  }
}

.properties-section {
  background-color: var(--secondary-color-offwhite);

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.join-us-section {
  background-color: crimson;
}

.testimonials-section {
  background-color: yellowgreen;
}

.footer {
  background-color: darkblue;
  height: 50vh;
}
