// Mixins

@mixin absCentering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCentering {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Utility Classes

.margin-left-small {
  margin-left: 2rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.transparent {
  opacity: 0;
}

.move-down {
  transform: translateY(150px);
}
